body {
  background-color: #cadcdf30;
}

.Headling {
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
}

.childhead1 {
  margin-left: 1rem;
  font-size: xx-large;
}
.childhead2 {
  height: 1rem;
  margin-left: 1.5rem;
  margin-top: 2.5rem;
  font-size: larger;
}
.childhead3 {
  margin-left: 1.5rem;
  margin-top: 2.6rem;
  font-size: larger;
  font-weight: 700;
  color: #00000080;
}
input.SearchBox {
  margin-left: 2.7rem;
  height: 2.5rem;
  width: 33rem;
  border: 2px solid #b0d1d6;
  border-radius: 4px;
  background-color: #b0d1d6;
}

  p.searchText {
    margin-left: 3rem;
    color: #000000bd;
    font-size: larger;
}
button.searchButton {
  height: 2.9rem;
  position: absolute;
  border: 2px solid #b0d1d6;
  border-radius: 4px;
}
button.searchButton:hover {
  border-color: black;
  cursor: pointer;
}
div.main2 {
  display: flex;
}

.Typefiter {
  position: relative;
  left: 18rem;
  margin-left: 6rem;
}

div.AllFiter {
  display: flex;
  position: relative;
  top: 2rem;
}
select {
  width: 5rem;
}
